<div class="hori bg-primary">
  <div class="container" style="width:70%;">
    <nav
      class="navbar navbar-expand-lg text-white-100"
      style="font-size:20px; padding: 0px; margin: 0px;"
    >
      <ul class="navbar-nav me-auto">
        <li class="nav-item border-end">
          <a class="nav-link" href="/">Trang chủ</a>
        </li>
        <li class="nav-item border-end">
          <a class="nav-link" href="/chothuephongtro">Cho thuê phòng trọ</a>
        </li>
        <li class="nav-item border-end">
          <a class="nav-link" href="#menu2">Cho thuê căn hộ</a>
        </li>
        <li class="nav-item border-end">
          <a class="nav-link" href="#menu3">Nhà nguyên căn</a>
        </li>
        <li class="nav-item border-end">
          <a class="nav-link" href="#menu4">Tìm ngưởi ở ghép</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/huongdan">Hướng dẫn</a>
        </li>

      </ul>
      <div class="d-flex bg-success">
        <a class="btn" href="/create">
          <i class="fa fa-pencil-square-o"></i>
          Đăng tin
        </a>
      </div>
    </nav>
  </div>
</div>
<div class="singup-signin mt-lg-5">

    <div class="container" style="width: 40%;">
        <div class="path pt-2">
            <ol>
                <li class="">
                    <a href="/">Trang chủ</a>
                    <span class="p-2">></span>
                </li>
                <li>
                    <a href="/dangnhap">Đăng nhập</a>
                </li>
            </ol>
        </div>
        <div class="mt-2">
            
            <div style="text-align: center; color:red">
                <strong>Email hoặc tài khoản không chính xác. Vui lòng nhập lại!</strong>
            </div>
            
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="/dangnhap" role="tab" aria-controls="pills-login" aria-selected="true">Login</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="/dangky" role="tab" aria-controls="pills-register" aria-selected="false">Register</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form method="POST" action="/user/login">
                        <div class="mb-3 mt-3">
                            <label for="email">Email:</label>
                            <div class="input-group">
                                <span class="input-group-text fa fa-envelope" style="font-size: 24px;width: 50px"></span>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email" required>
                            </div>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="pwd">Password:</label>
                            <div class="input-group">
                                <span class="input-group-text fa fa-lock" style="width: 50px;font-size: 24px;"></span>
                                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required >
                               <i class="fa fa-eye" id="togglePassword"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 d-flex justify-content-center">
                                <!-- Checkbox -->
                                <div class="form-check mb-3 mb-md-0">
                                    <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked/>
                                    <label class="form-check-label" for="loginCheck"> Remember me </label>
                                </div>
                            </div>

                            <div class="col-md-6 d-flex justify-content-center">
                                <!-- Simple link -->
                                <a href="#!">Forgot password?</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mb-4 mt-2" style="width: 100%;">Sign in</button>

                        <p class="text-center">or</p>

                        <div class="text-center mb-3">
                            <p>Sign in with:</p>
                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fa fa-facebook"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fa fa-google"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fa fa-twitter"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fa fa-github"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const showPassword = document.querySelector("#togglePassword");
    const passwordField = document.querySelector("#password");


    showPassword.addEventListener("click", function() {
        this.classList.toggle("fa-eye-slash");
        const type = passwordField.getAttribute("type") ===
            "password" ? "text" : "password";
        passwordField.setAttribute("type", type);

    })
</script>


