<div class="footer bg-primary">
    <div class="container" style="border-bottom: 1px dashed; padding-bottom: 20px;">
        <div class="row">
            <div class="col-sm-3">
                <h5 class="title-footer">Thuê phòng trọ</h5>
                <div class="content-footer">
                    <p>Website cho thuê phòng trọ, nhà trọ nhanh chóng và hiệu quả</p>
                    <div>Hotline: 09678.333.78</div>
                    <div>
                        <a href="#">Email: nhatroviet@gmail.com</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <h5 class="title-footer">Thông tin</h5>
                <div class="content-footer">
                    <ul>
                        <li>
                            <a href="#">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Chính sách bảo mật</a>
                        </li>
                        <li>
                            <a href="#">Quy định sử dụng</a>
                        </li>
                        <li>
                            <a href="#">Quy chế hoạt động</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-3">
                <h5 class="title-footer">Hướng dẫn</h5>
                <div class="content-footer">
                    <ul>
                        <li>
                            <a href="#">Hướng dẫn đăng ký</a>
                        </li>
                        <li>
                            <a href="#">Bảng giá Dịch vụ</a>
                        </li>
                        <li>
                            <a href="#">Quy định đăng tin</a>
                        </li>
                        <li>
                            <a href="#">Liên hệ hỗ trợ</a>
                        </li>

                    </ul>
                </div>
            </div>


            <div class="col-sm-3">
                <h5 class="title-footer">Kết nối với chúng tôi</h5>
                <div class="contact-footer">
                    <a href="#"><img src="/img/icon_facebook.png" alt=""></a>
                    <a href="#"><img src="/img/icon_zalo.png" alt=""></a>
                    <a href="#"><img src="/img/icon_twitter.png" alt=""></a>
                    <a href="#"><img src="/img/icon_viber.png" alt=""></a>
                </div>
                <h5 class="title-footer">Phương thức thanh toán</h5>
                <div class="method-pay">
                    <img src="/img/visa-icon.png" alt="" width="54px" height="33px">
                    <img src="/img/MoMo_Logo.png" alt="" width="54px" height="33px">
                    <img src="/img/bank-icon.jpg" alt="" width="54px" height="33px">

                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright © 2011 - 2020 Thuephongtro.com. Ghi rõ nguồn "Thuephongtro.com" khi phát hành lại thông tin từ website này.</p>
    </div>
</div>
