<div class="container" style="width:70%;">
  <div class="row">
    <div class="col-md-8">
      <a href="/">
        <img src="/img/logo.png" alt="" />
      </a>
    </div>
    {{#if currentUser}}
      <div
        class="col-md-4 d-flex justify-content-end"
        style="margin-top:20px ;"
      >
        <div class="welcome-user">
          {{#with currentUser}}
            <p>Xin chào,
              <strong><a href="/user/information">{{this.name}}</a></strong></p>
          {{/with}}
        </div>

        <div class="user-dropdown">
          <button
            class="btn text-light bg-danger dropdown-toggle"
            type="button"
            id="user-dropdown-id"
            data-bs-toggle="dropdown"
          >Quản lý tài khoản</button>
          <ul class="dropdown-menu">
            <li><a
                class="dropdown-item"
                rel="nofollow"
                href="/user/information"
              ><i class="fa fa-user"></i> Thông tin tài khoản</a></li>
            <li><a
                class="dropdown-item"
                rel="nofollow"
                href="/create"
                title="Đăng tin"
              ><i class="fa fa-plus-circle" aria-hidden="true"></i>
                Đăng tin</a></li>
            <li><a
                class="dropdown-item"
                rel="nofollow"
                href="/user/stored"
                title="Quản lý tin"
              ><i class="fa fa-list-alt" aria-hidden="true"></i>
                Quản lý tin đăng</a></li>
            <li role="separator" class="divider"></li>
            <a
              class="dropdown-item"
              rel="nofollow"
              href="/user/logout"
              title="Thoát"
            ><i class="fa fa-sign-out" aria-hidden="true"></i> Thoát</a>
          </ul>
        </div>
      </div>
    {{else}}
      <div
        class="col-md-4 d-flex justify-content-end"
        style="margin-top:20px ;"
      >
        <div style="margin-right:10px ;">
          <a class="btn btn-outline-primary" href="/dangky">
            <i class="fa fa-user"></i>
            Đăng ký
          </a>
        </div>
        <div>
          <a class="btn btn-outline-success" href="/dangnhap">
            <i class="fa fa-user"></i>
            Đăng nhập
          </a>
        </div>
      </div>
    {{/if}}

  </div>
</div>