<div class="container" style="width:70% ;">
    <div class="row">
        <div class="col-md-8">
            <a href="#">
                <img src="/images/logo.png" alt="">
            </a>
        </div>
        
    </div>
</div>


<div class="thong-tin-user">
    <div class="container" style="width: 70%; margin-top: 20px;">
        <nav class="navbar navbar-expand-lg text-white-100" style="font-size:20px; padding: 0px; margin: 0px;">
            <ul class="navbar-nav me-auto">
                <li class="nav-item border-end bg-secondary">
                    <a class="nav-link fa fa-list-alt" href="/user/stored">Quản lý tin</a>
                </li>

                <li class="nav-item border-end">
                    <a class="nav-link active bg-success fa fa-user" href="/user/information">Thông tin tài khoản</a>
                </li>
            </ul>
        </nav>

        <div>
            <div class="title">
                <h5>THÔNG TIN TÀI KHOẢN</h3>
            </div>
        </div>
        {{#if currentUser}}
        {{#with currentUser}}
        <div class="profile-user-form container" style="width: 70%;">
            <form action="" onsubmit="return checkPw()" name="myForm">
                <div class="profile-user-form-info">
                    <table>
                        <tr>
                            <td>Mã tài khoản</td>
                            <td>
                                <div class="input-group" style="width: 500px;">
                                    <span class="input-group-text" style="font-size: 24px;width: 50px">#</span>
                                    <input type="text" class="form-control" id="idUser" name="idUser" value="1" disabled="true">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Email</td>
                            <td>
                                <div class="input-group" style="width: 500px;">
                                    <span class="input-group-text fa fa-envelope" style="font-size: 24px;width: 50px"></span>
                                    <input type="text" class="form-control" id="emailUser" name="emailUser" value="{{this.email}}" disabled="true">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Họ tên</td>
                            <td>
                                <div class="input-group" style="width: 500px;">
                                    <span class="input-group-text fa fa-user" style="font-size: 24px;width: 50px"></span>
                                    <input type="text" class="form-control" id="namelUser" name="namelUser" value="{{this.name}}">
                                </div>
                            </td>
                        </tr>

                        <tr>
                                <td>Mật khẩu mới</td>
                                <td>
                                    <div class="input-group" style="width: 500px;">
                                        <span class="input-group-text fa fa-key" style="font-size: 24px;width: 50px"></span>
                                        <input type="password" class="form-control" id="newPasswordUser" name="NewPasswordUser">
                                        <i class="fa fa-eye" id="togglePassword"></i>
                                    </div>
                                </td>
                        </tr>
                        <tr>
                                <td>Nhập lại mật khẩu mới</td>
                                <td>
                                    <div class="input-group" style="width: 500px;">
                                        <span class="input-group-text fa fa-lock" style="font-size: 24px;width: 50px"></span>
                                        <input type="password" class="form-control" id="ConfirmNewPasswordUser" name="ConfirmNewPasswordUser">
                                        <i class="fa fa-eye" id="togglePassword1"></i>
                                    </div>
                                </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" class="btn btn-primary mb-4 mt-2" style="width: 100%;">Cập nhật</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        {{/with}}
        {{/if}}

    </div>
</div>

<script>
    const showPassword = document.querySelector("#togglePassword");
    const passwordField = document.querySelector("#newPasswordUser");


    showPassword.addEventListener("click", function() {
        this.classList.toggle("fa-eye-slash");
        const type = passwordField.getAttribute("type") ===
            "password" ? "text" : "password";
        passwordField.setAttribute("type", type);

    })

    const showPassword1 = document.querySelector("#togglePassword1");
    const passwordField1 = document.querySelector("#ConfirmNewPasswordUser");


    showPassword1.addEventListener("click", function() {
        this.classList.toggle("fa-eye-slash");
        const type = passwordField1.getAttribute("type") ===
            "password" ? "text" : "password";
        passwordField1.setAttribute("type", type);
    })


    {{!-- Hiệu ứng sẽ so sánh hai chuỗi do người dùng nhập vào có giống nhau hay không. --}}
    function checkPw(form) {
        let nameUser = document.forms["myForm"]["namelUser"].value;
        let pw1 = document.forms["myForm"]["NewPasswordUser"].value;
        let pw2 = document.forms["myForm"]["ConfirmNewPasswordUser"].value;

        if(nameUser ==""){
            alert("Họ tên không được để trống!");
            return false;
        }
        if(pw1 != pw2) {
            alert("Mật khẩu xác nhận không chính xác!");
            return false;
        }
    }
</script>



